body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
 

.main {
min-width: 100%;
min-height: 100%;
margin: 0%;

}

.card.bg-light.mb-2{
width: 20%

}

button {
margin: 1%
}

input {
margin: 1%
}

#weatherDiv {
display: none;
}

.media {
border: 2px solid #1782b8; 
margin: 2px;
padding: 7px

}

.card {
margin: 2px
}
